---
title: 新.毎日の聞きとり５０日
---

<div class="wrap">
	<div class="subMenu">
		<div class="inner">
			<a href="#" id="sTop" class="subNavBtn">ホムペジ</a>
			<a href="#" id="s1" class="subNavBtn">１</a>
			<a href="#" id="s2" class="subNavBtn">２</a>
			<a href="#" id="s3" class="subNavBtn">３</a>
			<a href="#" id="s4" class="subNavBtn">4</a>
		</div>
	</div>
	
	<div class="section sTop">
		<div class="inner">
			<h1>Welcoem to Home</h1>
			<p>This is a tesg</p>
		</div>
		<br class="clear" />
	</div>
	
	<div class="section s1">
		
		<div class="inner">

			<h1>Section 1</h1>

		</div>

	</div>

	<div class="section s2">
		<div class="inner">

			<h1>Section 2</h1>

		</div>

	</div>

	<div class="section s3">
		<div class="inner">

		<h1>Section 3</h1>

		</div>

	</div>

	<div class="section s4">
		<div class="inner">

			<h1>Section 4</h1>

		</div>

	</div>
</div>
<script type="text/javascript">	
$(document).ready( function() {
	setTimeout(function() { window.scrollTo(0, 1) }, 100);
	
    $('.subMenu').smint({
    	'scrollSpeed' : 1000
    });
});


</script>